body {
    background-image: url(metal.jpg);
	margin: 0;
	
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color:lightgray;
	background-attachment: fixed;
}
.flex-container {
	display: flex;
	justify-content: center;
}
.wrap {
	flex-wrap: wrap;
}
.header {
	text-align: center;
	color: firebrick;
}

/*Navigation menu links*/
.sidenav a {
	text-decoration: none;
	font-size: 27px;
	display: block;
	font-weight: none;
}

.menubutton {
font-size: 30px;
background-color: transparent;
border: 0;
}


/*Dealing with smaller screens*/
@media only screen and (max-width: 700px) {
	.main {
		margin-right: 5px;
		margin-left: 5px;
	}

	.sidenav {
	display: none;
	position: absolute;
    width: 100%;
    margin: 0;
	background-color: gray;
}
  .footer {
	  width: 100%;
	  padding-top: 5px;
	  padding-bottom: 5px;
	  margin: 0;
	  text-align: center;
	  color: white;
	  background-color: black;
  }
  
  ul.centered {
	  text-align: center;
	  list-style-type: none;
	  padding-left: 0;
  }
  li.nav {
	  padding: 0px;
	  width: 100px;
  }
}


/*Dealing with larger screens*/
@media only screen and (min-width: 701px) {
	.main {
		margin-right: 15%;
		margin-left: 15%;
	}
	.menubuttoncontainer {
		display: none;
	}
	
	/*Sidebar Menu*/
	.sidenav {
		height: 100%;
		background-color: firebrick;
	}
	.footer {
		width: 100%;
		padding: 1rem;
		margin: 0;
		text-align: center;
		color: white;
		background-color: black;
		position: absolute;
		bottom: 0;
	}
	ul.centered {
		text-align: center;
		list-style-type: none;
		padding-left: 0;
	}
	li.nav {
		padding: 0px;
		width: 200px;
	}
}
.center {
    text-align: center;
}

.red {
    color: red;
}
.firebrick {
	color: firebrick;
}
.orange {
    color: orange;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.brown {
    color: brown;
}
.bold {
    font-weight: 600;
}
.lightbold {
    font-weight: 300;
}
.medium {
	font-size: 18px;
}
.large {
    font-size: 25px;
}
.xlarge {
	font-size: 45px;
}
.xxlarge {
    font-size: 65px;
}
p.big {
	line-height: 1.8;
}
p.background {
	background-color: black;
}

img {
    margin: 10px;
}

/* link color */
a{
	color: white;
}

/* mouse over link */
a:hover{
	color:lightblue;
}
a:link{
	text-decoration: none;
}
a:active{
    top:2px;
}
